@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Cabiry";
  src: url("../src/Assets/Fonts/cabiry-bubble-highlight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gwathlyn";
  src: url("../src/Assets/Fonts/gwathlyn-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothic';
  src: url("../src/Assets/Fonts/franklin-gothic-medium-regular.ttf") format('truetype');
}

@font-face {
  font-family: 'ArialBlack';
  src: url("../src/Assets/Fonts/arial-black.ttf") format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/Assets/Fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/Assets/Fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../src/Assets/Fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Anton';
  src: url('../src/Assets/Fonts/Anton-Regular.ttf') format('truetype');
}

